
.row.home-section#contact-form
  span.section-label : Get In Touch :

  p.contact-intro.center-content
    | Need development help?  
    br
    | Want to help me with design? 
    br
    | Just want to send me a message? 
    br
    | Whatever...

  .small-10.columns.small-centered
    form(data-abide, action="/contactForm/submit")
      .row
        .small-9.columns.small-centered
          input(type="text", name="name", placeholder="Your Name", required)
          small.error You need to enter your name
      .row
        .small-9.columns.small-centered
          input(type="text", name="from", placeholder="Your E-Mail", required, pattern="email")
          small.error Please enter a valid email address (e.g. john@jacob.jingleheimer)
      .row
        .small-9.columns.small-centered
          input(type="text", name="subject", placeholder="Subject")
      .row
        .small-9.columns.small-centered
          textarea(type="text", name="text", placeholder="Say what you have to say...", required)
          small.error I appreciate brevity but you have to write something
      .row
        .small-9.columns.small-centered
          fieldset.center-content
            legend Who are you?
            
            input#developer(type="checkbox", name="who", value="DEV")
            label(for="developer") Developer

            input#designer(type="checkbox", name="who", value="DES")
            label(for="developer") Designer

            input#employer(type="checkbox", name="who", value="EMP")
            label(for="employer") Employer

            input#client(type="checkbox", name="who", value="CLIENT")
            label(for="client") Client

            input#friend(type="checkbox", name="who", value="FRIEND")
            label(for="friend") Friend/Admirer
      .row
        .small-3.columns.small-offset-8.center-content
          input.button.radius.small(type="submit")