extends layout

block content

  #jumbotron.jumbotron
    .row
      .medium-10.columns.medium-centered
        blockquote.main-quote.center-content
          p Sorry this site is still in the works, but check back soon!
          footer
            cite Teja Rudraraju
    .row
      .medium-6.columns.medium-centered.icon-links
        ul.inline-list.icon-links.center-content
          li
            a(href="https://twitter.com/tejman") 
              i.fi-social-twitter.link-icon
          li
            a(href="mailto:rudrarajut@gmail.com")
              i.fi-mail.link-icon
          li
            a(href="http://www.linkedin.com/pub/teja-rudraraju/22/40/7b7")
              i.fi-social-linkedin.link-icon

  #check-out.row
    h1 Check Out
    .small-6.medium-4.columns
      div.thumbnail.text-center
        a(href="http://atom.io/").th: img.dataURL(src="http://placehold.it/150x150")
        div.caption
          h3 Atom Editor
          p GitHub just released a new text editor. <br> I haven't had a chance to try to the Beta but its supposedly its very Node friendly!
          p
            a.button.tiny(href="http://atom.io/", role="button") View Page
    .small-6.medium-4.columns
      div.thumbnail.text-center
        a(href="http://www.refactoru.com/").th: img.dataURL(src="http://placehold.it/150x150")
        div.caption
          h3 refactoru
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, accusamus!
          p
            a.button.tiny(href="http://www.refactoru.com", role="button") View Page
    .small-6.medium-4.columns
      div.thumbnail.text-center
        a(href="http://www.github.com/").th: img.dataURL(src="http://placehold.it/150x150")
        div.caption
          h3 GitHub
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, accusamus!
          p
            a.button.tiny(href="http://www.github.com", role="button") View Page