extends layout

block content

  #jumbotron.jumbotron
    .container
      blockquote.main-quote
        p Strive not to be a success, but rather to be of value.
        footer
          cite Albert Einstein
      .icon-links
        ul.list-inline
          li
            a(href="#") Twitter
          li
            a(href="#") Email
          li
            a(href="#") LinkedIn
