extends layout

block landing

  #jumbotron.jumbotron
    .row
      .medium-10.columns.medium-centered
        blockquote.main-quote.center-content
          p Strive not to be a success, but rather to be of value.
          footer
            cite Albert Einstein
    .row
      .medium-6.columns.medium-centered.icon-links
        ul.inline-list.icon-links.center-content
          li
            a(href="https://twitter.com/tejman") 
              i.fi-social-twitter.link-icon
          li
            a(href="mailto:rudrarajut@gmail.com")
              i.fi-mail.link-icon
          li
            a(href="http://www.linkedin.com/pub/teja-rudraraju/22/40/7b7")
              i.fi-social-linkedin.link-icon
    #jumbotron-scroll.center-content.button
      i.fi-arrow-down


  include checkOut
  include checkOut
  include checkOut

  include contactForm