*, *:before, *:after
  -moz-box-sizing border-box
  -webkit-box-sizing border-box
  box-sizing border-box

.jumbotron
  padding 30px
  margin-bottom 30px
  color inherit
  // background-color #ccc
  background-image url("/images/ocean.png")
  background-repeat no-repeat
  background-size auto 100%
  z-index -1
  p
    margin-bottom 15px
    font-size 21px
    font-weight 200
  .container
    max-width 100%
  .link-icon
    font-size: 25px
    padding 2px 7px
    border 3px solid
    border-radius 30px

.jumbotron h1,
.jumbotron .h1
  color inherit

.container
  .jumbotron
    border-radius 6px
    padding-right 60px
    padding-left 60px

@media screen and (min-width: 768px)
  .jumbotron
    padding-top 48px
    padding-bottom 48px

  .jumbotron h1,
  .jumbotron .h1
    font-size 63px

.link-icon
  font-size 16px


.center-content
  text-align center

blockquote.main-quote
  border none

.icon-links 
  li
    float none
    display inline-block

.top-bar
  overflow hidden
  height 50px
  border-bottom 7px solid #606060
  z-index 999

.thumbnail
  h3
    padding-top 15px
    text-transform

.th
  width 150px
  height 150px
  overflow hidden

#jumbotron-scroll
  font-size 20px
  padding 3px 9px
  border-radius 30px
  position absolute
  bottom 20px
  right 20px
  border 2px solid
  margin 0 auto


