*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Gafata', sans-serif;
}
.row {
  max-width: 100%;
}
.home-section {
  position: relative;
  padding: 100px 40px;
}
body .home-section:nth-child(odd) {
  background-image: url("/images/stressed_linen.png");
  color: #fff;
}
body .home-section:nth-child(even) {
  background-image: url("/images/low_contrast_linen.png");
  color: #fff;
}
.section-label {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: absolute;
  top: 30%;
  left: -40px;
  -webkit-transform-origin: 0px 0px;
  -moz-transform-origin: 0px 0px;
  -o-transform-origin: 0px 0px;
  -ms-transform-origin: 0px 0px;
  transform-origin: 0px 0px;
  text-transform: uppercase;
  color: #bf3030;
  font-weight: bold;
}
.jumbotron {
  padding: 30px;
  color: inherit;
  background-color: #ccc;
  z-index: -1;
}
.jumbotron cite,
.jumbotron p,
.jumbotron a {
  color: #000;
  opacity: 0.4;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40);
}
.jumbotron a {
  color: #000;
  opacity: 0.4;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40);
}
.jumbotron p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
}
.jumbotron .container {
  max-width: 100%;
}
.jumbotron .link-icon {
  font-size: 25px;
  padding: 2px 7px;
  border: 3px solid;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}
.jumbotron li a {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}
.jumbotron li:hover a {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  color: #a60000;
  -webkit-transform: rotateY(360deg);
  -moz-transform: rotateY(360deg);
  -o-transform: rotateY(360deg);
  -ms-transform: rotateY(360deg);
  transform: rotateY(360deg);
}
.jumbotron li:hover .link-icon {
  background-color: rgba(0,0,0,0.1);
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.jumbotron .row {
  margin-bottom: 30px;
}
.jumbotron h1,
.jumbotron .h1 {
  color: inherit;
}
.container .jumbotron {
  -webkit-border-radius: 6px;
  border-radius: 6px;
  padding-right: 60px;
  padding-left: 60px;
}
@media screen and (min-width: 768px) {
  .jumbotron {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .jumbotron h1,
  .jumbotron .h1 {
    font-size: 63px;
  }
}
.link-icon {
  font-size: 20px;
}
.center-content {
  text-align: center;
}
blockquote.main-quote {
  border: none;
  font-family: 'Permanent Marker', cursive;
}
blockquote.main-quote:hover p,
blockquote.main-quote:hover cite {
  color: #a60000;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.icon-links li {
  float: none;
  display: inline-block;
}
.top-bar {
  overflow: hidden;
  height: 63px;
  z-index: 999;
  background: #191414;
  background: -webkit-linear-gradient(top, #191414 81%, #a60000 100%);
  background: -moz-linear-gradient(top, #191414 81%, #a60000 100%);
  background: -o-linear-gradient(top, #191414 81%, #a60000 100%);
  background: -ms-linear-gradient(top, #191414 81%, #a60000 100%);
  background: linear-gradient(to bottom, #191414 81%, #a60000 100%);
  opacity: 0.95;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
  filter: alpha(opacity=95);
}
.top-bar ul,
.top-bar ul>li,
.top-bar ul>li>a,
.top-bar h1 {
  background: none !important;
  line-height: 58px !important;
  font-family: 'Gafata', sans-serif;
}
.pricing-table {
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  border: none;
  height: 100%;
}
.pricing-table .title {
  width: 200px;
  margin: auto;
  font-variant: small-caps;
  font-size: 20px;
  font-family: 'Gafata', sans-serif;
}
.pricing-table .description {
  border-top: dotted 1px #ddd;
  color: #fff;
  font-size: 14px;
}
.pricing-table .price,
.pricing-table .description,
.pricing-table .cta-button,
.pricing-table .title {
  background: none;
}
.pricing-table:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.flip-current {
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(166,0,0,0.3), 0 0 40px rgba(166,0,0,0.1) inset;
  box-shadow: 0 1px 4px rgba(166,0,0,0.3), 0 0 40px rgba(166,0,0,0.1) inset;
  padding: 15px;
}
.flip-current .pricing-table {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.flip-current:before,
.flip-current:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0 0 20px rgba(166,0,0,0.8);
  box-shadow: 0 0 20px rgba(166,0,0,0.8);
  top: 0;
  bottom: 0;
  left: 10px;
  right: 10px;
  -webkit-border-radius: 100px/10px;
  border-radius: 100px/10px;
}
.flip-current:after {
  right: 10px;
  left: auto;
  -webkit-transform: skew(8deg) rotate(3deg);
  -moz-transform: skew(8deg) rotate(3deg);
  -o-transform: skew(8deg) rotate(3deg);
  -ms-transform: skew(8deg) rotate(3deg);
  transform: skew(8deg) rotate(3deg);
}
.th {
  width: 300px;
  height: 250px;
  max-height: 250px;
  overflow: hidden;
  background-color: #fff;
}
#jumbotron-scroll {
  font-size: 20px;
  padding: 2px 9px 0px;
  background-color: rgba(0,0,0,0);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border: 2px solid rgba(255,255,255,0.4);
  color: rgba(255,255,255,0.4);
  border-bottom: none;
  position: absolute;
  bottom: 0px;
  right: 20px;
  margin: 0 auto;
}
#jumbotron-scroll:hover {
  background-color: #a60000;
  color: #777;
  border-color: #a60000;
}
#contact-form textarea {
  height: 8em;
}
#contact-form .button {
  background-color: #a60000;
  font-weight: bond;
}
#contact-form fieldset {
  color: #fff;
  border-color: #fff;
}
#contact-form fieldset legend {
  color: #fff;
  background: none;
}
#contact-form fieldset label {
  color: #fff;
}
.contact-intro {
  font-size: 28px;
  margin-bottom: 60px;
  color: #fff;
  font-weight: bold;
}
