@import "nib"

*, *:before, *:after
  -moz-box-sizing border-box
  -webkit-box-sizing border-box
  box-sizing border-box
  font-family 'Gafata', sans-serif

.row
  max-width 100%

.home-section
  position relative
  padding 100px 40px

body
  .home-section:nth-child(odd)
    background-image url("/images/stressed_linen.png")
    color #FFF
  .home-section:nth-child(even)
    background-image url("/images/low_contrast_linen.png")
    color #FFF
.section-label
  transform rotate(-90deg)
  position absolute
  top 30%
  left -40px
  transform-origin 0px 0px
  text-transform uppercase
  color #BF3030
  font-weight bold

.jumbotron
  padding 30px
  color inherit
  background-color #ccc
  z-index -1
  cite, p, a
    color #000
    opacity .4
  a
    color #000
    opacity .4
  p
    margin-bottom 15px
    font-size 21px
    font-weight 200
  .container
    max-width 100%
  .link-icon
    font-size 25px
    padding 2px 7px
    border 3px solid
    border-radius 30px
  li a
    transition all .5s
  li:hover
    a
      opacity 1
      color #A60000
      transform rotateY(360deg)
    .link-icon
      background-color rgba(0,0,0,.1)
      opacity 1
  .row
    margin-bottom 30px

.jumbotron h1,
.jumbotron .h1
  color inherit

.container
  .jumbotron
    border-radius 6px
    padding-right 60px
    padding-left 60px

@media screen and (min-width: 768px)
  .jumbotron
    padding-top 48px
    padding-bottom 48px

  .jumbotron h1,
  .jumbotron .h1
    font-size 63px

.link-icon
  font-size 20px


.center-content
  text-align center

blockquote.main-quote
  border none
  font-family 'Permanent Marker', cursive

blockquote.main-quote:hover
  p, cite
    color #A60000
    opacity 1

.icon-links 
  li
    float none
    display inline-block

.top-bar
  overflow hidden
  height 63px
  z-index 999
  background #191414
  background linear-gradient(to bottom, #191414 81%,#a60000 100%)
  opacity .95

.top-bar
  ul, ul>li, ul>li>a, h1
   background none !important
   line-height 58px !important
   font-family 'Gafata', sans-serif


.pricing-table
  opacity .7
  border none
  height 100%
  .title
    width 200px
    margin auto
    font-variant small-caps
    font-size 20px
    font-family 'Gafata', sans-serif
  .description
    border-top dotted 1px #ddd
    color #FFF
    font-size 14px
  .price, .description, .cta-button, .title
    background none

.pricing-table:hover
  opacity 1

.flip-current
  .pricing-table
    opacity 1
  position relative
  box-shadow 0 1px 4px rgba(166, 0, 0, 0.3), 0 0 40px rgba(166, 0, 0, 0.1) inset
  padding 15px

.flip-current:before, .flip-current:after
  content ""
  position absolute
  z-index -1
  box-shadow 0 0 20px rgba(166,0,0,0.8)
  top 0
  bottom 0
  left 10px
  right 10px
  border-radius 100px / 10px

.flip-current:after
  right 10px
  left auto
  transform skew(8deg) rotate(3deg)

.th
  width 300px
  height 250px
  max-height 250px
  overflow hidden
  background-color #FFF

#jumbotron-scroll
  font-size 20px
  padding 2px 9px 0px 
  background-color rgba(0,0,0,.0)
  border-top-left-radius 25px
  border-top-right-radius 25px
  border 2px solid rgba(255,255,255,.4)
  color rgba(255,255,255,.4)
  border-bottom none
  position absolute
  bottom 0px
  right 20px
  margin 0 auto

#jumbotron-scroll:hover
  background-color #A60000
  color #777
  border-color #A60000

#contact-form 
  textarea
    height 8em
  .button
    background-color #A60000
    // color #FFF
    font-weight bond
  fieldset
    color #FFF
    border-color #FFF
    legend
      color #FFF
      background none
    label
      color #FFF

.contact-intro
  font-size 28px
  margin-bottom 60px
  color #FFF
  font-weight bold



